.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/anhnen2.jpg);
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: aliceblue;
}
.contact .content p{
    font-size: 20px;
    font-weight: 300;
    color: aliceblue;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    /* background: #fff;
    display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    color: rgb(2, 213, 255);
}
.container .contactInfo .box .text p{
    color: rgb(244, 247, 246);
    font-size: 25px;
}
.contactInfo{
    width: 40%;
    padding: 40px;
}
.contactInfo h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactInfo .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactInfo .inputBox input,
.contactInfo .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333 ;
    outline: none;
    resize: none;
}
.contactInfo .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactInfo .inputBox input:focus ~ span,
.contactInfo .inputBox input:valid ~ span,
.contactInfo .inputBox textarea:focus ~ span,
.contactInfo .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);    
}
.contactInfo .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: 10px;
    font-size: 18px;
}
 